{% extends 'statistic/basic.html' %}
{% block title %}
Barcha ishchilar
{% endblock %}



{% block section %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="userTable">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Nomi</th>
                            <th>Indeks</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for s in stanoks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ s.title }}</td>
                            <td>{{ s.number }}</td>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}