{% load static %}
{% load index %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60;url={% url 'statistic' 1 %}" />
    <link rel="stylesheet" href="{% static 'statistic/black-table.css' %}">
    <title>{{ current_month }} </title>
</head>
<body>
    
    <h1><span class="blue">&lt;</span>{{ current_month }}<span class="blue">&gt;</span> <span class="yellow">oyi natijalari</pan></h1>

        <table class="container">
            <thead>
                <tr>
                    <th><h1>Stanok</h1></th>
                    <th><h1>Norma atqi</h1></th>
                    <th><h1>1-Stanok</h1></th>
                    <th><h1>2-Stanok</h1></th>
                    <th><h1>3-Stanok</h1></th>
                    <th><h1>Jami</h1></th>
                    <th><h1>Foiz</h1></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in values %}
                <tr>
                    <td>{{ i|index:0 }}</td>
                    <td>{{ i|index:1 }}</td>
                    <td>{{ i|index:2 }}</td>
                    <td>{{ i|index:3 }}</td>
                    <td>{{ i|index:4 }}</td>
                    <td>{{ i|index:5 }}</td>
                    <td>{{ i|index:6 }}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>

    
</body>
</html>