{% extends 'statistic/basic.html' %}
{% load static %}
{% block link %}


<link rel="stylesheet" href="{% static 'statistic/my.css' %}">

{% endblock %}


{% block h3 %}
Ishchi qo'shish
{% endblock %}


{% block section %}
<div class="box">
    <div class="box-body">
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-md-6 col-sm-12 f">
                <div class="form-group">
                  
                  {{ field.errors }} 
                  
                  {% if field.name == 'date_bday' %}
                  {{ field.label_tag }} <div class="form-date"> {{ field }}</div>
                  {% else %}
                  {{ field.label_tag }} {{ field }}
                  {% endif %}
                </div>
        </div>
        {% endfor %}
        <div class="col-md-6 col-sm-12">
        <div class="form-buttons">
            <input class="save-button btn btn-flat bg-orange" id="submit" name="submit" type="submit" value="Создать">
        </div>
        </div>
        </form>
        
    </div>
</div>
{% endblock %}

<!-- {% block script %}
<script>
    var a = document.getElementById('id_description');
    a.placeholder = 'выделить с помощью // \n\n "текст на узбекском" // "текст на русском"';
</script>
{% endblock %} -->