.desc {
    font-size: 16px;
    margin: 15px 10px;
}

.input {
    border-radius: 7px;
    border: 1px;
    height: 30px;
    width: 250px;
    outline: none;
    font-size: 18px;
}


.submit {
    margin-top: 5px;
    margin-bottom: 100px;
}

.button {
    background: rgb(255, 174, 0);
}

.img {
    margin-bottom: 30px;
}